<header id="masthead" class="site-header">
    <nav id="primary-navigation" class="site-navigation">
        <div class="container">

            <div class="navbar-header">
               
                <a class="site-title"><span>Darya</span>Fortress</a>

            </div><!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="agency-navbar-collapse">

                <ul class="nav navbar-nav navbar-right">

                    <li class="active"><a href="index.html" data-toggle="dropdown">Home</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                          <li><a href="portfolio.html">Portfolio</a></li>
                          <li><a href="blog.html">Blog</a></li>
                        </ul>

                    </li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="ui-elements.html">UI Elements</a></li>

                </ul>

            </div>

        </div>   
    </nav><!-- /.site-navigation -->
</header>