<div class="container">
    <h2>Darya Fortess Alawys Ready for helping you </h2>
    <p> we provideing many service depneds on your need and that. </p>
    <p> we help you to privingt from DDOS Attcak our Attack your Competitorsin  </p>
    <a href="#" class="btn btn-fill">Learn More</a>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <div class="counter-item">
                <p class="counter" data-to="200" data-speed="2000">0</p>
                <h3>Cofee Cups</h3>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="counter-item">
                <p class="counter" data-to="400" data-speed="2000">0</p>
                <h3> Attack DDOS</h3>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="counter-item">
                <p class="counter" data-to="263" data-speed="2000">0</p>
                <h3>protect From DDOS</h3>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="counter-item">
                <p class="counter" data-to="350" data-speed="2000">0</p>       
                <h3>Projects completed</h3>
            </div>      
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="counter-item">
                <p class="counter" data-to="250" data-speed="1000">0</p>
                <h3>Happy Clients</h3>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="counter-item">
                <p class="counter" data-to="170" data-speed="1000">0</p>
                <h3>Average Deal</h3>
            </div>
        </div>
    </div>
</div>