<div class="container">
    <h2>Subscribe our newsletters</h2>
    <form class="form-group newsletter-group">
        <input type="email" class="form-control" placeholder="Your e-mail" required>
        <button class="btn btn-green" type="button">Subscribe</button>
    </form><!-- /.newsletter-group -->
</div>