<section class="site-section section-portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="heading-separator">Latest Work</h2>
            <p class="subheading-text">This is some of our best work</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="portfolio-item">
                    <img src="assets/img/portfolio-1.jpg" class="img-res" alt="">
                    <h4 class="portfolio-item-title">Portfolio item</h4>
                    <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div><!-- /.portfolio-item -->
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="portfolio-item">
                    <img src="assets/img/portfolio-2.jpg" class="img-res" alt="">
                    <h4 class="portfolio-item-title">Portfolio item</h4>
                    <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div><!-- /.portfolio-item -->
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="portfolio-item">
                    <img src="assets/img/portfolio-3.jpg" class="img-res" alt="">
                    <h4 class="portfolio-item-title">Portfolio item</h4>
                    <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div><!-- /.portfolio-item -->
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="portfolio-item">
                    <img src="assets/img/portfolio-4.jpg" class="img-res" alt="">
                    <h4 class="portfolio-item-title">Portfolio item</h4>
                    <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div><!-- /.portfolio-item -->
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="portfolio-item">
                    <img src="assets/img/portfolio-5.jpg" class="img-res" alt="">
                    <h4 class="portfolio-item-title">Portfolio item</h4>
                    <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div><!-- /.portfolio-item -->
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="portfolio-item">
                    <img src="assets/img/portfolio-6.jpg" class="img-res" alt="">
                    <h4 class="portfolio-item-title">Portfolio item</h4>
                    <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div><!-- /.portfolio-item -->
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="portfolio-item">
                    <img src="assets/img/portfolio-1.jpg" class="img-res" alt="">
                    <h4 class="portfolio-item-title">Portfolio item</h4>
                    <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div><!-- /.portfolio-item -->
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="portfolio-item">
                    <img src="assets/img/portfolio-2.jpg" class="img-res" alt="">
                    <h4 class="portfolio-item-title">Portfolio item</h4>
                    <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div><!-- /.portfolio-item -->
            </div>
        </div>
    </div>
</section>