<section class="site-section section-features">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h2>What is DDOS Attack?</h2>
                <p>Distributed Network Attacks are often referred to as Distributed Denial of Service (DDoS) attacks. This type of attack takes advantage of the specific capacity limits that apply to any network resources – such as the infrastructure that enables a company’s website. The DDoS attack will send multiple requests to the attacked web resource – with the aim of exceeding the website’s capacity to handle multiple requests… and prevent the website from functioning correctly.</p>
            </div>
            <div class="col-sm-7 hidden-xs">
                <img src="assets/img/ipad-pro.png" alt="">
            </div>
        </div>
    </div>
</section>