<div id="hero" class="hero overlay">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Your story begins from here.</h1>
            <p>You Need to Protect Your Business From DDOS Attack .</p>
            <a href="#" class="btn btn-border">Learn more</a>
        </div><!-- /.hero-text -->
    </div><!-- /.hero-content -->
</div><!-- /.hero -->
