<section class="site-section section-services gray-bg text-center">
    <div class="container">
        <h2 class="heading-separator">Our Services</h2>
        <p class="subheading-text">we providing many services depend on your needs and your industry</p>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="service">
                    <img src="assets/img/anchor.svg" alt="">
                    <h3 class="service-title">Bug Bounty</h3>
                    <p class="service-info"> we analyze your websites and your service and work on your vulnerability and thread on your Business</p>
                </div><!-- /.service -->
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="service">
                    <img src="assets/img/anchor.svg" alt="">
                    <h3 class="service-title"> DDOS </h3>
                    <p class="service-info">Distributed Network Attacks are often referred to as Distributed Denial of Service (DDoS) attacks. This type of attack takes advantage of the specific capacity limits that apply to any network resources – such as the infrastructure that enables a company’s website. The DDoS attack will send multiple requests to the attacked web resource – with the aim of exceeding the website’s capacity to handle multiple requests… and prevent the website from functioning correctly.</p>
                </div><!-- /.service -->
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="service">
                    <img src="assets/img/anchor.svg" alt="">
                    <h3 class="service-title">security solutions</h3>
                    <p class="service-info">Security solutions are essential for protecting organizations from cyber threats. Firewalls are a popular security solution that acts as a barrier between trusted internal networks and untrusted external networks. They monitor and control network traffic based on security rules, preventing unauthorized access and potential cyber attacks.</p>
                </div><!-- /.service -->
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="service">
                    <img src="assets/img/anchor.svg" alt="">
                    <h3 class="service-title">Branding</h3>
                    <p class="service-info"> Learn why your brand is a valuable component when it comes to your marketing communication and why you don't want to be without one.</p>
                </div><!-- /.service -->
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="service">
                    <img src="assets/img/chemestry.svg" alt="">
                    <h3 class="service-title">Coding</h3>
                    <p class="service-info">We use the best coding practices</p>
                </div><!-- /.service -->
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="service">
                    <img src="assets/img/bycicle.svg" alt="">
                    <h3 class="service-title">Design</h3>
                    <p class="service-info">The strength of a design lies as much in the steps taken to create it as in the final result. </p>
                </div><!-- /.service -->
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="service">
                    <img src="assets/img/paper-plane.svg" alt="">
                    <h3 class="service-title">Development</h3>
                    <p class="service-info">Development is a way to make people aware of the services and/or products you are offering.</p>
                </div><!-- /.service -->
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="service">
                    <img src="assets/img/photo.svg" alt="">
                    <h3 class="service-title">Photography</h3>
                    <p class="service-info">Photographs are the legacy you leave for generations to come.</p>
                </div><!-- /.service -->
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="service">
                    <img src="assets/img/microphone.svg" alt="">
                    <h3 class="service-title">Support</h3>
                    <p class="service-info">A support network can include a variety of forms of interaction with a range of people who can support you in different ways. </p>
                </div><!-- /.service -->
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="service">
                    <img src="assets/img/rocket.svg" alt="">
                    <h3 class="service-title">Marketing</h3>
                    <p class="service-info">Marketing is of vital importance to any business. It is the key process of researching, promoting and selling products or services to your target.</p>
                </div><!-- /.service -->
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="service">
                    <img src="assets/img/basket.svg" alt="">
                    <h3 class="service-title">Ecommerce</h3>
                    <p class="service-info">When customers are deciding on a purchase, they start by looking online.</p>
                </div><!-- /.service -->
            </div>
        </div>
    </div>
</section>